@import url('satoshi.css');




img {
  max-width: 100%;
  max-height: 100%;
}

.topnav {
    background-color: white;
    width: 82.5%;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  font-family: 'Satoshi-Variable';
  font-weight: 500;;
  text-align: center;
  padding: 14px 16px;
  padding-right: 40px;
  text-decoration: none;
  font-size: 17px;
}

.topnav b {
  
  float: left;
  color: #000000;
  text-align: center;
  margin-left: 270px;
  padding: 14px 16px;
  padding-left: 40px;
  height: 120px;
  width: 300px;

  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  padding-right: 60px;
  padding-top: 10px;
}


.container0{
    
    padding: 40px;
    margin-top: 10px;
    width: 60%;
    height: 650px;
    margin-right: auto;
    margin-left: 340px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.c0{
  padding: 40px;
    margin-top: 10px;
    width: 63%;
    height: 650px;
    margin-right: auto;
    margin-left: 340px;
    display: grid;
    grid-template-columns: 8fr 7fr;

}

.title0{

    width: 588px;
    height: 222px;
    font-family: 'Satoshi-Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    /* or 116% */
    padding-top: 120px;
    display: flex;
    align-items: center;
    color: #1A1E29;
    flex: none;
    
    align-self: stretch;
    flex-grow: 0;
}

.c0rt{
  width: 588px;
    
    font-family: 'Satoshi-Variable';
    font-style: normal;
    font-weight: 700;
font-size: 48px;
line-height: 58px;
/* identical to box height, or 121% */

display: flex;
align-items: center;

/* Color/Neutral 500 */

color: #1A1E29;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin-bottom: 20px;

}

.pp{
  
width: 508px;
height: 546px;
margin-left: 40px;
right: 20px;
top: 10px;
}

.intro{
  padding-top: 80px;
  font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */

display: flex;
align-items: center;
}


.c0r{
  margin-left: 20px;
}

.c0rc1{


/* Typo/Body/ Big

Whereas recognition of the inherent dignity
*/
font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 150% */


align-items: center;

/* Color/Neutral 400 */

color: #31353E;

}


.c0rc2{
  font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 150% */
margin-top: 20px;


align-items: center;

/* Color/Neutral 400 */

color: #31353E;
margin-bottom: 30px;
}


.c0rc3{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.t2{
  padding: 40px;
  width: 60%;
  margin-right: auto;
  margin-left: 340px;


font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #1A1E29;

}

.con2{

  padding-left: 40px;
  width: 60%;
  margin-right: auto;
  margin-left: 340px;
  margin-bottom: 50px;


font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

}

.t3{
  padding: 40px;
  width: 60%;
  margin-right: auto;
  margin-left: 340px;


font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #1A1E29;

}


.button1{
  
  margin-top: 20px;
  box-sizing: border-box;
  font-family: 'Satoshi-Variable';
}

.view{

  margin-top: 40px;
  box-sizing: border-box;
  font-family: 'Satoshi-Variable';

/* Auto layout */
color: white;
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 28px;
gap: 8px;

width: 180px;
height: 52px;

/* Color/Primary 500

#FA7373
*/
background: #FA7373;
/* Color/Primary 500

#FA7373
*/
border: 1px solid #FA7373;
border-radius: 32px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}




.container1{
    border-radius: 16px;
    background: #D6F7F1;
    padding: 40px;
    padding-left: 50px;
    width: 60%;
    height: 650px;
    
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 4fr 6fr ;
    
}

.container4{
  border-radius: 16px;
    background: #D6F7F1;
    padding: 40px;
    padding-left: 50px;
    width: 60%;
    height: 650px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 65fr 45fr ;

}
.container5{
  border-radius: 16px;
    background: #DFF5E5;
    padding: 40px;
    padding-left: 50px;
    width: 60%;
    height: 650px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 4fr 5fr ;
}


.container6{
  border-radius: 16px;
  background: #FCF0F0;
  padding: 40px;
  padding-left: 50px;
  width: 60%;
  height: 650px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 20fr 22fr ;
}

.left4{
  padding-top: 70px;
  align-items: center;
  padding-right: 20px;
}

.right4{
  padding-left: 20px;
}
.title4{
  width: 417px;

margin-top: 130px;

font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* or 121% */

display: flex;
align-items: center;

/* Color/Neutral 500 */

color: #1A1E29;

}

.left5{

  padding-top: 160px;
}
.title5{
  width: 401px;
  height: 58px;
  
  /* Typo/Heading/ H1
  
  Whereas recognition of the inherent dignity
  */
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height, or 121% */
  
  display: flex;
  align-items: center;
  
  /* Color/Neutral 500 */
  
  color: #1A1E29;

}
.left6{
  padding-top: 120px;
  
}

.right6{

  padding-top: 160px;
  padding-left: 50px;
}

.title6{
  width: 436px;
height: 58px;

/* Typo/Heading/ H1

Whereas recognition of the inherent dignity
*/
font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* identical to box height, or 121% */

display: flex;
align-items: center;

/* Color/Neutral 500 */

color: #1A1E29;
}

.intro6{
  width: 436px;
height: 72px;
margin-top: 40px;
/* Typo/Body/ Small

Whereas recognition of the inherent dignity
*/
font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

display: flex;
align-items: center;

/* Color/Neutral 400 */

color: #31353E;
}

.intro4{

  width: 417px;

font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

margin-top: 20px;
align-items: center;

/* Color/Neutral 400 */

color: #31353E;
}

.intro5{
  margin-top: 40px;
  width: 401px;
  height: 96px;
  
  /* Typo/Body/ Small
  
  Whereas recognition of the inherent dignity
  */
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  
  display: flex;
  align-items: center;
  
  /* Color/Neutral 400 */
  
  color: #31353E;

}

.left1{

  padding-top: 110px;

}

.title1{
  width: 401px;
height: 116px;
font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* or 121% */

display: flex;
align-items: center;

/* Color/Neutral 500 */

color: #1A1E29;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0
}


.intro1{

  width: 401px;
height: 96px;

/* Typo/Body/ Small

Whereas recognition of the inherent dignity
*/
margin-top: 40px;
font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

display: flex;
align-items: center;

/* Color/Neutral 400 */

color: #31353E;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.pic1{
  margin-top: 80px;
}


.container2{
    border-radius: 16px;
    background: #DFF5E5;
    padding: 40px;
    padding-left: 50px;
    width: 60%;
    height: 650px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.left2{

  height: 550px;
  margin-left: 136px;

}

.right2{
  align-items: center;
  align-self: center;
  margin-left: 50px;
}

.title2{

  width: 401px;
height: 58px;

/* Typo/Heading/ H1

Whereas recognition of the inherent dignity
*/
font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* identical to box height, or 121% */

display: flex;
align-items: center;

/* Color/Neutral 500 */

color: #1A1E29;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}


.intro2{
  width: 401px;
height: 96px;

/* Typo/Body/ Small

Whereas recognition of the inherent dignity
*/
font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

display: flex;
align-items: center;
margin-top: 30px;

/* Color/Neutral 400 */

color: #31353E;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}



.container3{
    border-radius: 16px;
    background: #FCF0F0;
    
    padding-left: 50px;
    width: 60%;
    height: 650px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 6fr 7fr ;
}


.left3{

  align-self: center;
}

.title3{
  width: 436px;
height: 58px;

/* Typo/Heading/ H1

Whereas recognition of the inherent dignity
*/
font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* identical to box height, or 121% */

display: flex;
align-items: center;

/* Color/Neutral 500 */

color: #1A1E29;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.intro3{

  width: 436px;
height: 72px;
margin-top: 40px;

/* Typo/Body/ Small

Whereas recognition of the inherent dignity
*/
font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

display: flex;
align-items: center;

/* Color/Neutral 400 */

color: #31353E;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}







.right3{

  height: 650px;

}


.all{
  
  
  padding-left: 490px;
    width: 60%;
    height: 190px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    
}

footer{

    background:#FBECEC;
    height: 450px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 4fr 4fr 5fr;
    padding-left: 50px;
    

}

.leftf{

  padding-left: 250px;
  align-self: center;

}
.logo{
  width: 254px;
height: 200px;
}

.email{
  width: 297px;
height: 24px;
padding-left: 35px;

/* Typo/Body/ Small

Whereas recognition of the inherent dignity
*/
font-family: 'Satoshi-Variable';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* Color/Neutral 300 */

color: #484B54;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.middle{

  align-self: center;
  padding-left: 150px;
}

.rightf{
  padding-top: 40px;
  align-self: center;
  padding-left: 150px;
}

.h{

  width: 384px;
  height: 24px;
  
  /* Typo/Body/Small Mid */
  
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  display: flex;
  align-items: center;
  
  /* Color/Neutral 400 */
  
  color: #31353E;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 50px;

}

.p{
  margin-bottom: 50px;
  width: 384px;
  height: 24px;
  
  /* Typo/Body/Small Mid */
  
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  display: flex;
  align-items: center;
  
  /* Color/Neutral 400 */
  
  color: #31353E;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}


.a{
  margin-bottom: 50px;
  width: 384px;
  height: 24px;
  
  /* Typo/Body/Small Mid */
  
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  display: flex;
  align-items: center;
  
  /* Color/Neutral 400 */
  
  color: #31353E;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}



.c{
  
  width: 384px;
  height: 24px;
  
  /* Typo/Body/Small Mid */
  
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  display: flex;
  align-items: center;
  
  /* Color/Neutral 400 */
  
  color: #31353E;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}


button{
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FA7373;
  cursor: pointer;
  height: 50px;
  width: 144px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid #FA7373;
  
}

